<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSSGER.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CSSGER.My.MySettings.dblotofacilConnectionString"
            connectionString="server=localhost;user id=root;password=sistema;persistsecurityinfo=True;database=dblotofacil"
            providerName="MySql.Data.MySqlClient" />
        <add name="CSSGER.My.MySettings.ServerDBLotofacilConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ServerDBLotofacil.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <CSSGER.My.MySettings>
            <setting name="DataGridViewTBDiferencas" serializeAs="String">
                <value>True</value>
            </setting>
        </CSSGER.My.MySettings>
    </applicationSettings>
</configuration>
